[submodule "docs"]
	path = docs
	url = https://github.com/bigeasy/nascent.git
[submodule "coalesce/docs"]
	path = coalesce/docs
	url = https://github.com/bigeasy/nascent.git
[submodule "conduit/docs"]
	path = conduit/docs
	url = https://github.com/bigeasy/nascent.git
[submodule "jacket/docs"]
	path = jacket/docs
	url = https://github.com/bigeasy/nascent.git
[submodule "rendezvous/docs"]
	path = rendezvous/docs
	url = https://github.com/bigeasy/nascent.git
[submodule "upgrader/docs"]
	path = upgrader/docs
	url = https://github.com/bigeasy/nascent.git
